.about-us__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us__item {
  margin-bottom: 82px;
  line-height: 20px;
}
