.additionally {
  padding-top: 22px;

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 46px;
  }
}

.additionally-area {
  resize: none;
  border: 2px solid var(--charcoal);
  width: 260px;
  height: 142px;
  font-size: 17px;
  line-height: 18px;
  padding: 15px 17px;

  @media (min-width: 768px) {
    width: 501px;
  }

  @media (min-width: 1150px) {
    width: 700px;
  }
}

.additionally-area:focus {
  outline-color: var(--lightgreen);
}

.additionally__title {
  @media (min-width: 768px) {
    padding-top: 20px;
    margin-right: 128px;
  }

  @media (min-width: 1150px) {
    margin-right: 75px;
  }
}
