// .catalog {
//   padding-top: 30px;
// }

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgrey);
  border-top: none;

  @media (min-width: 768px) {
    height: 334px;
    display: grid;
    grid-template-columns: 350px 320px;
    grid-template-rows: 74px 1fr;
    border-top: 1px solid var(--lightgrey);
  }

  @media (min-width: 1150px) {
    height: 659px;
    width: 316px;
    display: flex;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 1150px) {
    display: flex;
    gap: 52px;
  }
}

.catalog__product-photo {
  @media (min-width: 768px) {
    grid-row: 3 span;
    height: auto;
    width: auto;
  }
}

.catalog__photo-position {
  order: -10;
}

.catalog__size {
  font-weight: 400;
  font-size: 13px;
  border-bottom: 1px solid var(--lightgrey);
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

.catalog__price {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 26px;

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  padding-top: 18px;
  margin-bottom: 6px;

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

.catalog__price,
.catalog__size,
.catalog__title {
  padding-left: 28px;
}

.catalog__price--cart::before {
  content: "";
  background-image: url("../../icons/cart.svg");
  width: 21px;
  height: 18px;
  position: absolute;
  right: 27px;
}
