.checkbox-filter__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }

  @media (min-width: 1150px) {
    width: 750px;
  }
}

.checkbox-filter__item {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 230px;
  }
}

.checkbox-filter {
  @media (min-width: 768px) {
    // background-color: var(--lightgrey);
  }
}

.checkbox-filter__color {
  @media (min-width: 768px) {
    background-color: var(--lightgrey);
  }
}
