.contacts {
  display: block;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 57px;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px min-content;
  }
}

.contacts__wrapper {
  &--on {
    @media (max-width: 1150px - 0.05px) {
      display: contents;
    }
  }

  &--off {
    @media (min-width: 1150px) {
      display: contents;
    }
  }
}

.contacts__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.contacts__list {
  color: var(--charcoal);
  font-weight: 400;
  font-size: 14px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 17px;
    display: flex;
    gap: 50px;
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    width: 300px;
  }
}

.contacts__mail {
  color: var(--charcoal);
  text-decoration: none;
  border-bottom: 1px solid var(--lightgreen);
}

.contacts__address {
  margin: 0;
  margin-bottom: 62px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.contacts__align {
  display: flex;
}

.contacts__button {
  display: block;
  padding: 14px 52px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 14px 43px;
  }
}

.contacts__map {
  background-image: url("../../img/map.jpg");
  background-repeat: no-repeat;
  margin-bottom: 42px;
  height: 457px;
  width: 100%;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }
}
