.contacts {
  display: block;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 83px;
    padding-bottom: 57px;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 79px 326px min-content;
    padding-top: 69px;
    padding-bottom: 105px;
    padding-left: 174px;
  }
}

.contacts__text {
  @media (min-width: 1150px) {
    grid-row: 2/3;
  }
}

.contacts__wrapper {
  &--on {
    @media (max-width: 1150px - 0.05px) {
      display: contents;
    }
  }

  &--off {
    @media (min-width: 1150px) {
      display: contents;
    }
  }
}

.contacts__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 49px;
    position: relative;
  }

  @media (min-width: 1150px) {
    margin-bottom: 35px;
  }
}

.contacts__title::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    background-image: url("../../icons/sprite.svg#flag");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 3px;
    bottom: -8px;
  }

  @media (min-width: 1150px) {
    left: -111px;
    bottom: -7px;
  }
}

.contacts__list {
  color: var(--charcoal);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-bottom: 62px;

  @media (min-width: 768px) {
    font-size: 17px;
    display: flex;
    gap: 50px;
    margin-bottom: 0;
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    width: 300px;
    gap: 30px;
  }
}

.contacts__mail {
  color: var(--charcoal);
  text-decoration: none;
  border-bottom: 1px solid var(--lightgreen);
  padding-bottom: 2px;

  @media (min-width: 768px) {
    padding-bottom: 3px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 8px;
  }
}

.contacts__mail:hover {
  color: var(--darkgreen-hover);
}

.contacts__mail:active {
  border-color: hsla(171, 50%, 52%, 0.1);
}

.contacts__address {
  margin: 0;
  // margin-bottom: 62px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.contacts__align {
  display: flex;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.contacts__button {
  display: block;
  padding: 14px 52px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 14px 43px;
  }

  @media (min-width: 1150px) {
    margin: 0;
    margin-right: auto;
    padding: 14px 40px;
    grid-column: 1/2;
  }
}

.contacts__map {
  background-image: url("../../img/map-mishka.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: 30px;
  height: 457px;
  width: 100%;

  @media (min-width: 768px) {
    margin-bottom: 46px;
  }

  @media (min-width: 1150px) {
    width: 527px;
    grid-column: 2/3;
  }
}

.contacts__item {
  margin-right: 33px;

  @media (min-width: 768px) {
    margin-right: 26px;
  }
}

.contacts__definition {
  margin: 0;
}
