.contacts-filter__item {
  display: flex;
}

.contacts-filter__input {
  order: 2;
}

.contacts-filter__label {
  color: var(--lightgreen);

  @media (min-width: 768px) {
    margin-right: 100px;
  }
}
