.copyright__text {
  font-size: 19px;
  line-height: 18px;
  margin: 0;
  margin-right: 55px;

  @media (min-width: 768px) {
    padding-bottom: 12px;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.copyright__link::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#copyright-logo.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 35px;
  top: -10px;
  right: 39px;

  @media (min-width: 768px) {
    top: -8px;
    right: 0;
  }
}
