.copyright__text {
  font-size: 19px;
  line-height: 18px;
  margin: 0;
  margin-right: 55px;

  @media (min-width: 1150px) {
    margin-right: 56px;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.copyright__link::before {
  content: "";
  position: absolute;
  mask-image: url("../../icons/sprite.svg#copyright-logo");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  background-color: var(--lightgreen);
  width: 27px;
  height: 35px;
  top: -6px;
  right: 39px;

  @media (min-width: 768px) {
    top: -8px;
    right: 0;
  }
}

.copyright__link:hover::before {
  background-color: var(--darkgreen-hover);
}

.copyright__link:active::before {
  opacity: 0.3;
}
