.fieldset {
  border: none;
  border-top: 1px solid var(--lightgreen);
  padding: 0;
  // margin: 0;
  padding-top: 40px;

  @media (min-width: 768px) {
    display: flex;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.fieldset:not(:last-of-type) {
  padding-bottom: 40px;
}

.fieldset__title {
  font-size: 17px;
  line-height: 16px;
  color: var(--lightgreen);
  padding: 0;
  padding-right: 10px;

  @media (min-width: 768px) {
    float: left;
    margin-right: 100px;
  }
}


.fieldset--background-color {
  @media (min-width: 768px) {
    background-color: var(--lightgrey);
  }
}
