.fieldset {
  border: none;
  // border-top: 1px solid var(--lightgreen);
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    border: none;
    align-items: baseline;
  }

  @media (min-width: 1150px) {
    padding-left: 61px;
    padding-right: 61px;
  }
}

.fieldset__title {
  font-size: 17px;
  line-height: 16px;
  color: var(--lightgreen);
  padding: 0;
  text-transform: uppercase;

  @media (min-width: 768px) {
    float: left;
    padding: 0;
  }
}

.fieldset__line {
  @media (max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 22px;
    width: 260px;
  }
}

.fieldset__line::before {
  @media (max-width: 767px) {
    content: "";
    order: 2;
    flex-grow: 1;
    width: 180px;
    height: 1px;
    background-color: var(--lightgreen-form);
  }
}
