.filter__required {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    padding-top: 11px;
  }

  @media (min-width: 1150px) {
    margin-right: 3px;
  }
}

.filter__button {
  padding: 16px 45px;
  margin-bottom: 55px;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: 768px) {
    padding: 16px 30px;
    line-height: 16px;
    margin-bottom: 50px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 49px;
    margin-left: 5px;
  }
}

.filter__wrapper {
  @media (min-width: 768px) {
    display: flex;
  }
}

.filter__position {
  padding-top: 14px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 3px;
  }

  @media (min-width: 1150px) {
    justify-content: space-evenly;
    padding-top: 1px;
  }
}
