.filter__required {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter__button {
  padding: 14px 43px;
  margin-bottom: 55px;
}

.filter__wrapper {
  @media (min-width: 768px) {
    display: flex;
  }
}

.filter__position {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    padding: 0 225px;
  }
}
