.heading {
  background-color: var(--lightgrey);
  padding: 74px 0;
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  position: relative;

  @media (min-width: 768px) {
    padding: 99px 0 74px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    padding: 102px 0 91px;
  }
}

.heading::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    background-image: url("../../icons/wave-header-tablet.svg");
    width: 770px;
    height: 24px;
    bottom: -1px;
    left: 0;
    z-index: 10;
  }

  @media (min-width: 1150px) {
    background-image: url("../../icons/wave-catalog-desktop.svg");
    width: 1150px;
    height: 34px;
    bottom: -22px;
  }
}
