.main-nav__list {
  list-style: none;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    // grid-template-columns: 137px 265px;
    grid-template-columns: 84px 318px;
    padding-top: 11px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 84px 265px;
    padding: 0;
  }
}

.main-nav__link {
  text-decoration: none;
  color: var(--black);
  line-height: 24px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 17px;
    // padding-right: 24px;
  }

  @media (min-width: 1150px) {
    padding: 0;
  }
}

.main-nav__item {
  position: relative;
  z-index: 10;

  @media (min-width: 768px) {
    text-align: center;
  }
}

.main-nav__item--search::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 88px;
  background-color: var(--black);
  opacity: 0.1;
  top: -32px;
  left: 0;
}

.main-nav__item--search::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 88px;
  background-color: var(--black);
  opacity: 0.1;
  top: -32px;
  right: 0;
}

.main-nav__link--cart {
  @media (min-width: 768px) {
    margin-left: 28px;
  }

  @media (min-width: 1150px) {
    margin: 0;
  }
}

.main-nav__link--cart::before {
  content: "";
  display: block;
  mask-image: url("../../icons/sprite.svg#cart");
  background-color: var(--black);
  mask-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 21px;
  height: 18px;
  position: absolute;
  top: 0;
  left: -44px;
  opacity: 0.2;

  @media (min-width: 768px) {
    top: 2px;
    left: -52px;
  }
}

.main-nav__link--cart:hover::before {
  border-color: var(--lightgreen);
}

.main-nav__link--search::before {
  content: "";
  display: block;
  position: absolute;
  mask-image: url("../../icons/sprite.svg#search");
  mask-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black);
  width: 18px;
  height: 18px;
  top: 2px;
  left: -44px;
  opacity: 0.2;

  @media (min-width: 768px) {
    top: 3px;
    left: -8px;
  }

  @media (min-width: 1150px) {
    top: 4px;
    left: -9px;
  }
}

.main-nav__link--search:hover::before,
.main-nav__link--cart:hover::before {
  background-color: var(--lightgreen);
  opacity: 1;
}

.main-nav__link--search .page__ally-hidden {
  @media (max-width: 767px) {
    transform: scale(1);
    position: static;
  }
}

.main-nav__item--desktop {
  @media (min-width: 1150px) {
    margin-left: 83px;
  }
}
