.main-nav__list {
  list-style: none;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 137px 265px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: var(--black);
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__link--cart {
  position: absolute;
  left: 30px;

  @media (min-width: 768px) {
    position: static;
    margin-right: 30px;
  }
}

.main-nav__link--search {
  position: absolute;
  left: 30px;
  mask: url("../../img/sprite.svg#search");
}
