.modal {
  position: absolute;
  top: 478px;
  right: 0;
  background-color: var(--white);
  z-index: 10;
  // width: 320px;

  @media (min-width: 768px) {
    top: 694px;
    left: 51px;
  }
}

.modal__show {
  display: none;
}
