.name-filter {
  padding-bottom: 13px;

  @media (min-width: 768px) {
    padding-top: 67px;
    padding-bottom: 9px;
  }
}

.name-filter__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 42px;
  }
}

.name-filter__input {
  order: 2;
  border: none;
  border-bottom: 2px solid #000000;
}

.name-filter__list {
  padding-top: 30px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.name-filter__label {
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
    margin-right: 27px;
  }
}

.name-filter__title {
  @media (min-width: 768px) {
    margin-right: 125px;
  }

  @media (min-width: 1150px) {
    margin-right: 74px;
  }
}
