.page-header {
  padding-top: 22px;
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 320px 83px 265px;
    grid-template-rows: 100px 100px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 250px 250px 200px 100px 250px;
  }
}

.page-header__logo {
  height: 79px;

  @media (min-width: 768px) {
    text-align: start;
  }

  @media (min-width: 1150px) {
    grid-column: 3/4;
  }
}

.page-header__list {
  list-style: none;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 160px 160px;
  }

  @media (min-width: 1150px) {
    grid-row: 1/2;
    grid-template-columns: 190px 190px;
  }
}

.page-header__link {
  text-decoration: none;
  color: var(--black);
  line-height: 24px;
}


@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__desktop {
  display: none;

  @media (min-width: 1150px) {
    display: list-item;
  }
}

.page-header__delivery {
  display: none;
  margin: 0;
  font-weight: 400;

  @media (min-width: 768px) {
    display: block;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  @media (min-width: 1150px) {
    grid-column: 4/6;
  }
}
