@font-face {
  font-family: "Opens Sans";
  src: url("../../fonts/opensans.woff2"),    url("../../fonts/opensans.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensansbold.woff2"),    url("../../fonts/opensansbold.woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page {
  max-width: 320px;
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.page__body {
  margin: 0;
}

