@font-face {
  font-family: "Opens Sans";
  src: url(../../fonts/opensans.woff2)
  url(../../fonts/opensans.woff);
}

.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
}
