.page-footer {
  background-color: var(--lightgrey);
}

.page-footer__wrapper {
  padding-top: 23px;
  padding-bottom: 30px;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 58px;
  }
}

.page-footer__copyright {
  @media (max-width: 767px) {
    padding-top: 22px;
  }

  @media (min-width: 768px) {
    align-self: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: relative;
  }
}

.page-footer__logo::before {
  content: "";
  position: absolute;
  width: 102px;
  height: 35px;
  mask-image: url("../../img/sprite.svg#logotype");
  background-color: var(--black);
  top: 0;
  left: 0;
}

.page-footer__logo:hover::before {
  background-color: var(--darkgreen-hover);
}

.page-footer__logo:active::before {
  opacity: 0.3;
}

.page-footer__link:hover {
  background-color: var(--darkgreen-hover);
}

.page-footer__link:active {
  opacity: 0.3;
}
