.page-form__title {
  background-color: var(--lightgrey);
}

.page-form {
  font-size: 17px;
  line-height: 18px;

  @media (min-width: 768px) {
    font-size: 19px;
  }
}

.page-form__fieldset--background-color {
  @media (min-width: 768px) {
    background-color: var(--lightgrey);
  }
}
