.page-footer {
  background-color: var(--lightgrey);
}

.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 22px;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__copyright {
  @media (max-width: 767px) {
    padding-top: 22px;
  }

  @media (min-width: 768px) {
    align-self: center;
  }
}
