.product-of-the-type {
  background-image: url("../../img/header-image.jpg");
  background-repeat: no-repeat;
  width: 320px;
  // height: 273px;
  background-position: 50% 0;
  background-size: cover;
  margin: 0 auto;
  z-index: -100;

  @media (min-width: 768px) {
    width: 100%;
    height: 746px;
    background-position: 50% 0;
    // background-color: var(--lightgrey);
    position: relative;
  }

  @media (min-width: 1150px) {
    background-position: 50% 30%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/header-image@2x.jpg");
  }
}

.product-of-the-type::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    background-image: url("../../icons/sprite.svg#wave-header-tablet");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 770px;
    height: 24px;
    bottom: -10px;
    z-index: 10;
  }

  @media (min-width: 1150px) {
    background-image: url("../../icons/sprite.svg#wave-header-desktop");
    width: 1250px;
    height: 34px;
    bottom: -17px;
  }
}

.product-of-the-type__image {
  @media (max-width: 767px) {
    height: 283px;
  }
}

.product-of-the-type__caption {
  font-size: 27px;
  text-align: center;
  padding-top: 73px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 154px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 158px;
  }
}

.product-of-the-type__list {
  display: contents;
  font-size: 19px;
  line-height: 24px;
  color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    bottom: -25px;
    width: 668px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    bottom: -27px;
  }
}

.product-of-the-type__item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: 768px) {
    padding-left: 36px;
  }
}

.product-of-the-type__item--luster {
  background-color: var(--lightgreen);
  // z-index: -10;

  @media (min-width: 768px) {
    z-index: 0;
  }
}

.product-of-the-type__item--luster::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#interior");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 62px;
  top: 23px;
  right: 36px;

  @media (min-width: 768px) {
    top: 30px;
    right: 37px;
  }
}

.product-of-the-type__item--toy {
  background-color: var(--darkgreen);
}

.product-of-the-type__item--toy::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#toy");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;

  @media (min-width: 768px) {
    top: 31px;
    right: 33px;
  }
}
