.production-process {
  padding-top: 22px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 58px;
  border: 1px solid var(--lightgrey);

  @media (min-width: 768px) {
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 650px  400px;
    grid-template-rows: min-content min-content min-content;
  }
}

.production-process__title {
  margin: 0;
  margin-bottom: 26px;
}

.production-process__text {
  font-weight: 400;
  margin: 0;
  margin-bottom: 42px;
}

.production-process__wrapper {
  padding-top: 35px;
  padding-bottom: 33px;

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.production-process__button {
  padding: 14px 19px;

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.production-process__video {
  @media (min-width: 768px) {
    grid-row: 1/2;
  }

  @media (min-width: 1150px) {
    grid-column: 1/2;
  }
}
