.product-of-the-week {
  padding-bottom: 73px;
  position: relative;

  @media (min-width: 768px) {
    padding-bottom: 106px;
  }

  @media (min-width: 1150px) {
    padding-top: 82px;
    padding-bottom: 119px;
  }
}

.product-of-the-week::before {
  content: "";
  position: absolute;

  @media (max-width: 767px) {
    background-image: url("../../icons/sprite.svg#wave-mobile-line");
    background-repeat: no-repeat;
    width: 320px;
    height: 6px;
    left: -30px;
    bottom: 31px;
  }

  @media (min-width: 768px) {
    background-image: url("../../icons/sprite.svg#wave-tablet");
    width: 772px;
    height: 17px;
    bottom: 56px;
    left: -50px;
  }

  @media (min-width: 1150px) {
    background-image: url("../../icons/sprite.svg#wave-desktop");
    width: 1050px;
    height: 23px;
    left: 0;
    bottom: 0;
  }
}

.product-of-the-week__wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 292px 249px 1fr;
    grid-template-rows: min-content 140px 155px 60px 91px;
    align-items: center;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 175px 292px 1fr;
    grid-template-rows: min-content 140px 180px 143px 7px;
  }
}

.product-of-the-week__title {
  padding-top: 31px;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: 768px) {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 50px;
    margin-bottom: 27px;
  }

  @media (min-width: 1150px) {
    grid-column: 2/4;
    z-index: 10;
    margin-bottom: 25px;
  }
}

.product-of-the-week__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: var(--lightgreen);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    line-height: 17px;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-top: 17px;
    margin: 0;
    text-align: center;
  }

  @media (min-width: 1150px) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 43px;
    margin-left: 32px;
  }
}

.product-of-the-week__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    grid-column: 1/2;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.product-of-the-week__characteristics {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    grid-row: 3/4;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.product-of-the-week__characteristics::after {
  content: "";
  display: block;
  clear: both;
}

.product-of-the-week__term {
  width: 33%;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    grid-column: 1/2;
  }
}

.product-of-the-week__term:last-of-type {
  margin-bottom: 0;
}

.product-of-the-week__term::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -13px;
  background-image: url("../../icons/sprite.svg#table-line");
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    width: 292px;
  }
}

.product-of-the-week__definition {
  width: 66%;
  margin: 0;
  padding-left: 12px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.product-of-the-week__price {
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  color: var(--charcoal);

  @media (min-width: 768px) {
    font-size: 20px;
    grid-column: 1/2;
    margin: 0;
    padding-top: 11px;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.product-of-the-week__align {
  display: flex;
  border-bottom: 1px solid var(--brightgray);

  @media (min-width: 768px) {
    grid-column: 1/2;
  }
}

.product-of-the-week__сost {
  margin: 0;
}

.product-of-the-week__photo {
  margin-top: 28px;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    text-align: end;
    margin: 0;
    grid-column: 2/4;
    grid-row: 2/6;
  }

  @media (min-width: 1150px) {
    grid-column: 3/4;
  }
}

.product-of-the-week__button {
  padding: 14px 80px;
  text-align: center;
  display: block;

  @media (min-width: 768px) {
    grid-column: 1/2;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.product-of-the-week__image {
  @media (min-width: 768px) {
    width: auto;
    height: auto;
    padding-top: 13px;
  }

  @media (min-width: 1150px) {
    padding: 0;
    padding-bottom: 111px;
  }
}
