.product-of-the-type__image {
  background-image: url("../../img/header-img.jpg");
  background-repeat: no-repeat;
  height: 283px;
  width: 320px;
  margin: 0 auto;
}

.product-of-the-type__caption {
  font-size: 27px;
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }
}

.product-of-the-type__list {
  display: contents;
  font-size: 19px;
  line-height: 24px;
  color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 334px 334px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 525px 525px;
  }
}

.product-of-the-type__item {
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 30px;
  padding-left: 30px;
}

.product-of-the-type__item--luster {
  background-color: var(--lightgreen);
}

.product-of-the-type__item--toy {
  background-color: var(--darkgreen);
}

.product-of-the-type__wrapper {
  &--mobile-on {
    @media (max-width: 768px - 0.05px) {
      display: contents;
    }
  }

  &--mobile-off {
    @media (min-width: 768px) {
      display: contents;
    }
  }
}
