.product-of-the-type__caption {
  background-image: url("../../img/header-img.jpg");
  background-repeat: no-repeat;
  font-size: 27px;
}

.product-of-the-type__list {
  font-size: 19px;
  line-height: 24px;
  color: var(--white);
  list-style: none;
}

.product-of-the-type__item--luster {
  background-color: var(--lightgreen);
}

.product-of-the-type__item--toy {
  background-color: var(--darkgreen);
}
