.production-process {
  padding-top: 22px;
  display: grid;
  // padding-bottom: 58px;
  border: 1px solid var(--lightgrey);

  @media (min-width: 768px) {
    padding: 0;
    padding-bottom: 45px;
  }

  @media (min-width: 1150px) {
    grid-template-rows: min-content min-content min-content;
    padding: 0;
  }
}

.production-process:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.production-process:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production-process__title {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  padding-left: 91px;

  @media (min-width: 768px) {
    font-size: 20px;
    padding-top: 16px;
    padding-left: 106px;
    margin-bottom: 24px;
  }

  @media (min-width: 1150px) {
    padding-top: 96px;
    padding-left: 77px;
    margin-bottom: 21px;
  }
}

.production-process__text {
  font-weight: 400;
  margin: 0;
  margin-bottom: 42px;
  padding-left: 32px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: 768px) {
    padding: 0 39px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
    padding-left: 77px;
  }
}

.production-process__wrapper {
  // padding-top: 35px;
  // padding-bottom: 33px;

  @media (min-width: 1150px) {
    grid-column: 2/3;
  }
}

.production-process__button {
  padding: 14px 19px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin: 0 42px;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
    padding: 14px 43px;
    margin: auto;
    margin-bottom: 60px;
    margin-left: 79px;
  }
}

.production-process__video {
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    grid-row: 1/2;
    // height: auto;
    // width: auto;
  }

  @media (min-width: 1150px) {
    grid-column: 1/2;
    grid-row: 1/4;
    margin: 0;
  }
}

.production-process__title--camera::before {
  content: "";
  background-image: url("../../icons/sprite.svg#video");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 32px;
  height: 22px;
  top: 13px;
  left: 30px;

  @media (min-width: 768px) {
    left: 41px;
  }

  @media (min-width: 1150px) {
    left: 78px;
    top: 46px;
  }
}

.production-process__picture {
  @media (min-width: 768px) {
    width: auto;
    height: auto;
    display: block;
  }
}
