.product-of-the-week__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.product-of-the-week__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: var(--lightgreen);
  text-transform: uppercase;
}

.product-of-the-week__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.product-of-the-week__characteristics {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.product-of-the-week__price {
  display: flex;
  line-height: 24px;
  font-weight: 700;
  color: var(--charcoal);
}

.product-of-the-week__align {
  display: flex;
  border-bottom: 1px solid var(--brightgray);
}

.product-of-the-week__сost {
  margin: 0;
}
