.product-of-the-week__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: var(--lightgreen);
  text-transform: uppercase;
}

.product-of-the-week__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.product-of-the-week__characteristics {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.product-of-the-week__price {
  line-height: 24px;
  font-weight: 700;
  color: var(--charcoal);
}
