.radio-filter {
  padding-top: 35px;
  padding-bottom: 18px;
  margin: 0;

  @media (min-width: 768px) {
    padding-top: 23px;
    padding-bottom: 11px;
  }

  @media (min-width: 1150px) {
    padding-top: 18px;
    padding-bottom: 12px;
  }
}

.radio-filter__item {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 56px;
  }
}

.radio-filter__list {
  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.radio-filter__input:checked + .radio-filter__label::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 3px;
  width: 18px;
  height: 18px;
  background-image: url("../../icons/sprite.svg#radio-center");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) {
    left: -5px;
    top: -3px;
    width: 23px;
    height: 23px;
  }
}

.radio-filter__label::after {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid var(--black);

  @media (min-width: 768px) {
    left: -19px;
    width: 50px;
    height: 50px;
    top: -17px;
  }
}

.radio-filter__label:hover::after {
  border-color: var(--lightgreen-form);
}

.radio-filter__label:active::after {
  border-color: hsla(0, 0%, 27%, 0.3);
}

.radio-filter__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 60px;
}

.radio-filter__title {
  @media (min-width: 768px) {
    margin-right: 121px;
  }

  @media (min-width: 1150px) {
    margin-right: 68px;
  }
}
