/*.reviews__wrapper {
  padding: 0 30px;
}
  */
.reviews__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 14px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-bottom: 33px;
  color: var(--charcoal);

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.reviews__author-name {
  margin-bottom: 30px;
  line-height: 24px;

  @media (min-width: 768px) {
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    line-height: 24px;
  }
}

.reviews__toggles {
  margin: 0;
  margin-bottom: 38px;
}

.reviews__button {
  padding: 14px 80px;
}
