.reviews__wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: min-content 1fr min-content;
  }
}

.reviews__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 14px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-bottom: 33px;
  color: var(--charcoal);

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.reviews__author-name {
  margin-bottom: 30px;
  line-height: 24px;

  @media (min-width: 768px) {
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    line-height: 24px;
  }
}

.reviews__toggles {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.reviews__button {
  padding: 14px 80px;

  @media (min-width: 768px) {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__list {
  @media (min-width: 768px) {
    grid-column: 1/4;
    grid-row: 2/4;
  }
}
