.reviews {
  padding-bottom: 89px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 83px;
    background-image: url("../../img/carpet-tablet.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url("../../img/carpet-tablet@2x.jpg");
    background-size: 350px auto;
  }
}

.reviews::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/wave-mobile-line.svg");
  width: 320px;
  height: 6px;
  left: -30px;
  bottom: 38px;
}

.reviews__wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: min-content 1fr min-content;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-bottom: 31px;
  color: var(--charcoal);

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.reviews__author-name {
  font-style: normal;
  margin-bottom: 30px;
  line-height: 24px;

  @media (min-width: 768px) {
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    line-height: 24px;
  }
}

.reviews__toggles {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.reviews__button {
  padding: 14px 78px;

  @media (min-width: 768px) {
    grid-row: 1/2;
    grid-column: 3/4;
    margin-bottom: 40px;
    padding: 14px 40px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 29px;
}

.reviews__list {
  @media (min-width: 768px) {
    grid-column: 1/4;
    grid-row: 2/4;
  }
}

.reviews__author-id {
  font-weight: 400;
}
