.slider__toggles {
  @media (max-width: 767px) {
    border: 1px solid var(--brightgray);
  }
}

.slider__toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 126px;
  height: 50px;
  position: relative;

  @media (min-width: 768px) {
    width: 50px;
  }
}

.slider__toggle:first-child {
  @media (max-width: 767px) {
    border-right: 1px solid var(--brightgray);
  }
}

.slider__toggle--left::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#arrow-left");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 26px;
  top: 12px;
  left: 37px;

  @media (min-width: 768px) {
    top: 13px;
    left: 19px;
  }
}

.slider__toggle--right::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#arrow-left");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 26px;
  top: 12px;
  left: 37px;
  transform: rotate(180deg);

  @media (min-width: 768px) {
    top: 13px;
    left: 52px;
  }
}
