.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 40px;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.social__link--instagram {
  content: "";
  // position: absolute;
  display: block;
  background-image: url("../../icons/sprite.svg#insta.svg");
  // mask-repeat: no-repeat;
  background-repeat: no-repeat;
  width: 22px;
  height: 21px;
}

.social__link--facebook {
  content: "";
  display: block;
  background-image: url("../../icons/sprite.svg#fb.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 28px;
}

.social__link--twitter {
  content: "";
  display: block;
  background-image: url("../../icons/sprite.svg#twitter-logo.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
}
