.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 40px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

// .social__link--twitter {
//   background-image: url("../../img/twitter-logo.svg");
//   background-repeat: no-repeat;
//   width: 23px;
//   height: 20px;
// }
