.social__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 40px;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.social__list::before {
  @media (max-width: 767px) {
    content: "";
    position: absolute;
    width: 260px;
    height: 1px;
    background-color: var(--footer-gray);
    bottom: -30px;
  }
}

.social__link--instagram {
  content: "";
  display: block;
  mask-image: url("../../icons/sprite.svg#insta");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: var(--black);
  // background-position: center;
  // background-size: cover;
  width: 22px;
  height: 21px;
}

.social__link--facebook {
  content: "";
  display: block;
  mask-image: url("../../icons/sprite.svg#fb");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  // background-position: center;
  // background-size: cover;
  background-color: var(--black);
  width: 15px;
  height: 28px;
}

.social__link--twitter {
  content: "";
  display: block;
  mask-image: url("../../icons/sprite.svg#twitter-logo");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: var(--black);
  // background-position: center;
  // background-size: cover;
  width: 23px;
  height: 20px;
}
