.type__intro {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 20px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    padding-top: 54px;
    margin-bottom: 60px;
  }

  @media (min-width: 1150px) {
    padding-top: 100px;
    margin-bottom: 60px;
  }
}

.type__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
