:root {
  --lightgreen: hsla(168, 54%, 60%, 1);
  --darkgreen: hsla(171, 48%, 55%, 1);
  --lightgrey: hsla(0, 0%, 95%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --charcoal: hsla(0, 0%, 27%, 1);
  --brightgray: hsla(0, 0%, 93%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --header-black: hsla(345, 6%, 13%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
